.myAccountPage{
    @media (max-width:$ipadportrait) {
        padding:0 15px;
    }
    h1{
        font-size:130px;
        font-family:$tksofiapro;
        color:#fff;
        border-bottom:1px solid rgba(216,168,255,.31);
        padding:0 0 38px;
        margin:0;
        @media (max-width:$ipadportrait) {
            font-size:60px ;
        }
        @media (max-width:$mobilelandscape) {
            font-size:40px ;
            padding:0 0 20px;
        }
    }
    h4.MyAccount-SubTitle{
        margin:20px 0 25px;
        padding:0;
        font-size:50px;
        font-family:$tksofiapro;
        font-weight:900;
        display:block;
        line-height:100%;
        color:var(--white);
        @media (max-width:$mobilelandscape) {
            font-size: 30px;
            margin: 10px 0 15px;
        }
    }
    .myAccountPageContent{
        position:relative;
        &:before{
            content:'';
            background:rgba(216,168,255,.31);
            widows: 100%;
            height:100%;
            position:absolute;
            left:66.67%;
            top:0;
        }
        h4{
            margin:0 0 28px;
            padding:0;
            display:block;
            color:var(--white);
            font-size:50px;
            font-family:$tksofiapro;
        }
    }
    .OrderListBox{
        background:var(--purpleC);
        border-radius:6px;
        margin-bottom: 55px;
        .OrderListBoxHead{
            padding:15px;
            @media (max-width:$mobilelandscape) {
                flex-wrap:wrap;
            }
            p{
                font-size:30px;
                font-family:$tksofiapro;
                font-weight:900;
                display:block;
                color:var(--white);
                line-height:100%;
                margin:0;
                padding:0;
                span{
                    color:var(--lightgreen);
                }
                @media (max-width:$mobilelandscape) {
                    font-size:24px;
                    margin:0 0 10px;
                }
            }
        }
        ul.OrderListUl {
            background: #2C2444;
            padding: 20px;
            margin: 0;
            border-radius:6px;
            list-style:none;
            li.revieworder-box{
                display: flex;
                flex-wrap: wrap;
                border-bottom: solid 1px #342b4e;
                padding: 0 0 25px;
                margin: 0 0 20px;
                &:last-child{
                    margin-bottom:0;
                    padding-bottom:0;
                    border-bottom:0;
                }
                .product-image {
                    width:256px;
                    @media (max-width:$ipadportrait) {
                        width:auto;
                    }
                    @media (max-width:$mobilelandscape) {
                        margin:0 auto 15px;
                        display:block;
                    }
                    img{
                        @media (max-width:$ipadportrait) {
                            max-width:150px;
                        }
                        @media (max-width:$mobilelandscape) {
                            max-width:100px;
                        }
                    }
                }
                .content{
                    width: calc(100% - 250px - 60px);
                    padding: 0 15px;
                    @media (max-width:$ipadportrait) {
                        width:auto;
                    }
                    @media (max-width:$mobilelandscape) {
                        width:100%;
                        padding:0;
                    }
                    h5{
                        margin:0;
                        padding:0;
                        font-size:30px;
                        font-family:$tksofiapro;
                        font-weight:900;
                        display:block;
                        line-height:100%;
                        color:var(--white);
                        @media (max-width:$mobilelandscape) {
                            font-size:25px;
                        }
                    }
                    p{
                        margin:0;
                        padding:0;
                        font-size:24px;
                        font-family:$tksofiapro;
                        font-weight:500;
                        display:block;
                        line-height:normal;
                        color:var(--white);
                        @media (max-width:$mobilelandscape) {
                            font-size:18px;
                        }
                    }
                    .price{
                        padding:0;
                        margin: 20px 0 0;
                        width: auto;
                        text-align: left;
                        font-size:30px;
                        font-family:$tksofiapro;
                        font-weight:500;
                        display:block;
                        line-height:100%;
                        color:var(--portage);
                        @media (max-width:$mobilelandscape) {
                            font-size:18px;
                            margin:10px 0 0;
                        }
                    }
                }
            }
        }
        .OrderListBoxFooter{
            padding:15px;
            @media (max-width:$mobilelandscape) {
                flex-wrap:wrap;
            }
            p{
                font-size:30px;
                font-family:$tksofiapro;
                font-weight:900;
                display:block;
                color:var(--white);
                line-height:100%;
                margin:0;
                padding:0;
                span{
                    color:var(--lightgreen);
                }
                @media (max-width:$mobilelandscape) {
                    font-size:24px;
                    display:block;
                    margin:0 auto 20px;
                    text-align:center;
                }
            }
            button{
                margin:0 0 -60px auto;
                @media (max-width:$ipadportrait) {
                    min-width: 200px;
                }
                @media (max-width:$mobilelandscape) {
                    margin: 0 auto -50px auto;
                    height: 60px;
                    width: 40%;
                }
                h3{
                    @media (max-width:$mobilelandscape) {
                        font-size:30px;
                    }
                }
            }
        }
    }
    .AddressDetails {
        background: #1A172F;
        border-radius:6px;
        padding-bottom: 11px;
        margin-bottom:4rem;
        h5 {
            font-size: 30px;
            font-family: "sofia-pro", sans-serif;
            font-weight: 900;
            display: block;
            color: #fff;
            line-height: 100%;
            margin: 0;
            padding: 15px 25px;
            @media (max-width:$mobilelandscape) {
                font-size:26px;
            }
        }
        .AddressDetailsBody {
            display: block;
            border-radius: 6px;
            padding:0 15px;
            position:relative;
            margin:0;
            ul{
                margin:0;
                padding:0;
                list-style:none;
                li{
                    display:block;
                    margin:0 0 1rem;
                    textarea{
                        background:#2C2444;
                        border:0;
                        display:block;
                        width: 100%;
                        line-height: normal;
                        padding: .8rem;
                        font-size: 1.2rem;
                        color:#fff;
                        font-weight:500;
                        font-family:$tksofiapro;
                        border-radius:6px;
                        height: 136px;
                        line-height: normal;
                        @media (max-width:$mobilelandscape) {
                            font-size:18px;
                        }
                    }
                    input{
                        background:#2C2444;
                        border:0;
                        display:block;
                        width: 100%;
                        line-height: normal;
                        padding:.8rem 1rem 1rem;
                        font-size: 1.2rem;
                        color:#fff;
                        font-weight:500;
                        font-family:$tksofiapro;
                        border-radius:6px;
                        height:auto;
                        opacity:1;
                        &::-webkit-input-placeholder{color:var(--white);}
                        &::-moz-placeholder { color:#fff;}
                        &:-ms-input-placeholder { color:#fff;}
                        &:-moz-placeholder { color:#fff;}
                        @media (max-width:$mobilelandscape) {
                            font-size:18px;
                        }
                    }
                }
            }
            button{
                width:210px;
                height:60px;
                margin:0 0 -3.2rem auto;
                display: block;
                @media (max-width:$mobilelandscape) {
                    height:50px;
                    margin:30px auto -35px;
                }
            }
            .EditAddressDetailsBody{
                position:relative;
                textarea{
                    background:#2C2444;
                    border:0;
                    display:block;
                    width: 100%;
                    line-height: normal;
                    padding: .8rem;
                    font-size: 1.2rem;
                    color:#fff;
                    font-weight:500;
                    font-family:$tksofiapro;
                    border-radius:6px;
                    height: 136px;
                    line-height: normal;
                    @media (max-width:$mobilelandscape) {
                        font-size:18px;
                    }
                }
                button.buttonWrapper {
                    width: 50px;
                    margin: 0;
                    display: block;
                    height: 50px;
                    border-radius: 100px;
                    position: absolute;
                    top: -20px;
                    right:-10px;
                    .buttonShadow{
                        background: #B58DD6;
                        border-radius: 100px;
                    }
                    .buttonInner{
                        padding:0 14px 0 0;
                        border-radius: 100px;
                        svg{
                            font-size:22px;
                        }
                    }
                }
                + .EditAddressDetailsBody{
                    margin-top:30px;
                }
            }
        }
    }
    .UpdatePassword {
        border-radius:6px;
        padding-bottom: 11px;
        margin-bottom: 25px;
        background: #1A172F;
        @media (max-width:$ipadportrait) {
            margin-bottom:45px;
        }
        h5 {
            font-size: 30px;
            font-family: "sofia-pro", sans-serif;
            font-weight: 900;
            display: block;
            color: #fff;
            line-height: 100%;
            margin: 0;
            padding: 15px 25px;
            @media (max-width:$mobilelandscape) {
                font-size:26px;
            }
        }
        .UpdatePasswordBody{
            display: block;
            border-radius: 6px;
            padding:0 15px;
            ul{
                list-style:none;
                margin:0;
                padding:0;
                li{
                    margin-bottom:1rem;
                    input{
                        background:#2C2444;
                        border:0;
                        display:block;
                        width: 100%;
                        line-height: normal;
                        padding:.8rem 1rem 1rem;
                        font-size: 1.2rem;
                        color:#fff;
                        font-weight:500;
                        font-family:$tksofiapro;
                        border-radius:6px;
                        opacity:1;
                        height:auto;
                        &::-webkit-input-placeholder{color:var(--white);}
                        &::-moz-placeholder { color:#fff;}
                        &:-ms-input-placeholder { color:#fff;}
                        &:-moz-placeholder { color:#fff;}
                        @media (max-width:$mobilelandscape) {
                            font-size:18px;
                        }
                    }
                }
            }
            input{
                background:#2C2444;
                border:0;
                display:block;
                width: 100%;
                line-height: normal;
                padding: .8rem;
                font-size: 1.2rem;
                color:#fff;
                font-weight:500;
                font-family:$tksofiapro;
                border-radius:6px;
                opacity:1;
                height:auto;
                &::-webkit-input-placeholder{color:var(--white);}
                &::-moz-placeholder { color:#fff;}
                &:-ms-input-placeholder { color:#fff;}
                &:-moz-placeholder { color:#fff;}
                @media (max-width:$mobilelandscape) {
                    font-size:18px;
                }
            }
            button.buttonWrapper {
                width: 210px;
                margin: 20px 0 -41px auto;
                display: block;
                height: 60px;
                @media (max-width:$mobilelandscape) {
                    height:50px;
                    margin:30px auto -35px;
                }
            }
        }
    }
}
main{
    div.AddressDetailsBody,
    label.ErrorMessage,
    span.ErrorMessage{
        color:red;
        position:relative;
        top:0;
        right:0;
    }
}