.condition-hero{
    position:relative;
    overflow:hidden;
    img{
        width:100%;
    }
    .title{
        padding-bottom:20px;
        h1{
            font-size:10em;
            color:#ffffff;
            font-weight:800;
            padding-bottom:20px;
        }
        h4{
            color:#ffffff;
            font-weight: 600;
            font-style: normal;
            font-size:1.7em;
        }
    }
    .image{
        height:600px;
        position:relative;
    }
    

    
}
.conditionContent{
    padding-top:40px;
    color:#fff;
    font-size:22px;
    font-weight:800;
}
.nextCond{
    .image{height:300px;}
}   