footer {
  background: var(--purpleA);
  display: flex;
  flex-wrap: wrap;
  padding: 25px 30px;

  .footer-left {
    width: 30%;

    @media (max-width: $desktop18) {
      width: 35%;
    }

    @media (max-width: $desktophidpi) {
      width: 40%;
    }

    @media (max-width: $ipadportrait) {
      width: 100%;
    }

    .content {
      display: block;
      margin: 35px 0 0 0;

      @media (max-width: $desktophidpi) {
        margin: 25px 0 0 0;
      }

      @media (max-width: $mobileportrait) {
        margin: 25px 0 20px 0;
      }

      p {
        display: block;
        font-size: 25px;
        margin: 0 0 30px;
        color: var(--white);

        @media (max-width: $desktophidpi) {
          margin: 0 0 20px 0;
          font-size: 20px;
        }

        @media (max-width: $mobileportrait) {
          font-size: 16px;
        }

        &:last-child {
          margin: 0;
        }

      }

    }

  }

  .footer-right {
    margin-left: auto;
    width: 50%;
    position: relative;

    @media (max-width: $ipadportrait) {
      width: 100%;
    }

    .newsletter-box {
      display: block;

      h2 {
        display: block;
        margin: 0 0 30px;
        font-size: 60px;
        color: var(--white);
        line-height: 1;
        font-weight: 900;
        text-align: right;

        @media (max-width: $desktophidpi) {
          font-size: 50px;
        }

        @media (max-width: $ipadportrait) {
          text-align: left;
          margin-top: 2rem;
          font-size: 50px;
        }

        @media (max-width: $mobileportrait) {
          font-size: 30px;
          margin-top: 0.5rem;
          margin-bottom: 0.5rem;
        }

      }

      .form-control {
        border: 0px;
        background: var(--purpleB);
        padding: 25px 32px;
        height: auto;
        border-radius: 10px;
        line-height: 1;
        font-size: 29px;
        color: var(--white);
        font-weight: 300;

        @media (max-width: $desktophidpi) {
          padding: 20px 28px;
        }

        @media (max-width: $mobileportrait) {
          font-size: 18px;
          padding: 15px 25px;
        }

      }

    }

    .menu-list {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      position: absolute;
      right: 0;
      bottom: 0;

      @media (max-width: $ipadportrait) {
        position: relative;
        bottom: auto;
        right: auto;
        justify-content: center;
        margin: 2rem 0 1rem 0;
      }

      li {
        margin: 0 0 0 24px;

        @media (max-width: $desktophidpi) {
          margin: 0 0 0 15px;
        }

        @media (max-width: $mobileportrait) {
          margin: 0 5px;
        }

        a {
          display: block;
          font-size: 25px;
          color: var(--white);
          line-height: 1;
          font-weight: 900;
          text-decoration: none;

          @media (max-width: $desktophidpi) {
            font-size: 20px;
          }

          @media (max-width: $mobileportrait) {
            font-size: 14px;
            font-weight: 400;
          }

          &:hover {
            color: var(--portage);
          }

        }

      }

    }

  }

}