body {
  background: $midnight;
  font-family: $tksofiapro;
  user-select: none;
  cursor: url('/cursor.svg'), auto;

  &.so-checkout-page {
    background: $midnight;
  }

  &.cartopen {
    overflow: hidden;
  }
  .container-fluid,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    padding-left: 30px;
    padding-right: 30px;
    @media (max-width: $ipadportrait) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
a,
button {
  cursor: url('/point.svg'), auto !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: $tksofiapro;
  font-weight: normal;
  margin: 0px;
}
.borderBottom {
  border-bottom: $purpleborder;
}
.borderLeft {
  border-left: $purpleborder;
}
.borderTop {
  border-top: $purpleborder;
}
.borderRight {
  border-right: $purpleborder;
}
.table {
  .product-image {
    width: 100px;

    img {
      max-width: 100%;
    }
  }
}
.backgroundPurple {
  &.colorA {
    background: #1a172f;
  }
  &.colorB {
    background: #2c2444;
  }
  &.colorC {
    background: #080a1e;
  }
}
.form-group {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  margin-bottom: 0px;

  span {
    position: absolute;
    top: 2px;
    right: 15px;
    color: red;
  }

  input {
    + label {
      font-size: 14px;
      line-height: 20px;
      color: #8db1bf;
      transition: ease-in-out 0.3s;
      margin: 0;
      z-index: 0;
      position: relative;
      width: 100%;
      display: block;

      &:focus {
        outline: none;
      }
    }

    &:focus {
      outline: none !important;
    }

    &::-webkit-input-placeholder {
      opacity: 0;
    }

    &:-ms-input-placeholder {
      opacity: 0;
    }

    &::placeholder {
      opacity: 0;
    }

    &:placeholder-shown + label {
      cursor: text;
      max-width: 66.66%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      position: absolute;
      top: 20px;
      left: 10px;
    }

    &:focus + label,
    &:not(:placeholder-shown) + label {
      top: 0px;
      left: 10px;
      cursor: url('/point.svg'), auto;
      position: absolute;
      font-size: 12px;
    }
  }

  + .input-div {
    margin-top: 36px;
  }
}

.autocomplete-dropdown-container {
  color: #fff;
  width: 100%;
  background: $purpleB;

  .suggestion-item {
    padding: 5px 10px;
    color: #8db1bf;
    line-height: 1.2;
    background: $purpleB;
  }
  .suggestion-item--active {
    color: #ffffff;
    padding: 5px 10px;
    line-height: 1.2;
  }
}
.animationOverlay {
  width: 100%;
  height: 60px;
  background: black;
}
.tl-edges {
  overflow: hidden;
}

@media(max-width:992px){
  body.so-checkout-page .header-checkout{height:auto;}
  .tl-edges {overflow: visible;}
  .cart_first .shipping-boxs form, .cart_second .visible, .cart_third .cartsliderbar-boby, .cart_third .submit_btn { display:none;}
  main .cart_first { padding:0;}
  .cart_first.purple  .shipping-boxs form, .cart_second.purple .visible, .cart_third.purple, .cart_third .cartsliderbar-boby, .cart_third.purple .submit_btn { display:block;}

  .cart_first .shipping-boxs {overflow: visible;}
  .cart_first.purple, .cart_second.purple, .cart_third.purple{ position:relative; height: auto;}
  .custom_cart .cart_first .shipping-boxs {padding: 20px; height: auto;}
  main .submit_btn{ position:relative; right:0; left:0; bottom:0;}
  main .custom_cart h2.leading-loose {background: #1a172f;}
  #payment{ background:#494b72; padding:10px;}
  .cart_first >div.visible:first-child{ display:none;}
  .tl-edges .header-checkout a.backcart-btn{ font-size:0;}
}
.addressList {
  background-color: #d8a8ff;

}
.error_testing{
  background-color: #d8a8ff;
  color: #080a1e
}