/* font */
$tksofiapro: 'sofia-pro', sans-serif;
$tkpoynteroldstyletext: 'poynter-oldstyle-text', serif;
$tkitcavantgardegothicpro: 'itc-avant-garde-gothic-pro', sans-serif;

/* border */
$purpleBorder: solid 2px rgba(216, 168, 255, 0.3);

:root {
    /* colors */
    --white: #ffffff;
    --offWhite:#EFE9FF;
    --purpleA: #080c1f;
    --purpleB: #2c2444;
    --purpleC: #1a172f;
    --lightgreen: #7dc4b5;
    --portage: #D7C4FF;
    

    /* border */
    --purpleBorder:solid 2px rgba(216, 168, 255, 0.3);

    
}

[data-theme="light"] {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --heading-color: #818cab;
}



/* Size */
$FontSize14: 14px;
$FontSize15: 15px;
$FontSize16: 16px;
$FontSize17: 17px;
$FontSize18: 18px;
$FontSize19: 19px;
$FontSize20: 20px;
$FontSize21: 21px;
$FontSize22: 22px;
$FontSize23: 23px;
$FontSize24: 24px;
$FontSize25: 25px;
$FontSize26: 26px;
$FontSize27: 27px;
$FontSize28: 28px;
$FontSize29: 29px;
$FontSize30: 30px;

/* @media query width */

$desktop18: 1600px;
$desktophidpi: 1440px;
$desktopmdpi: 1280px;
$ipadlandscape: 1199px;
$ipadportrait: 1023px;
$mobilelandscape: 767px;
$mobileportrait: 567px;
