/* font */
$tksofiapro: 'sofia-pro', sans-serif;
$tkpoynteroldstyletext: 'poynter-oldstyle-text', serif;
$tkitcavantgardegothicpro: 'itc-avant-garde-gothic-pro', sans-serif;

/* border */
$purpleborder: solid 2px rgba(216, 168, 255, 0.3);

/* Color */
$white: #fff;
$black: #000;
$midnight: #080a1e;
$apricotpeach: #f9bebd;
$bluezodiac: #0d223e;
$purpleA: #1a172f;
$purpleB: #2c2444;
$purpleC: #080a1e;
$perano: #acc7f0;
$violet: #1a0e40;
$azalea: #f7d3d5;
$madang: #d8a8ff;
$lightBlue: #a6daf0;
$lightPurple: #cbacf0;
$linkwater: #f4f7fc;
$bridalheath: #fff9f4;
$lightgreen: #7dc4b5;
$portage: #aa9af0;

/* Size */
$FontSize14: 14px;
$FontSize15: 15px;
$FontSize16: 16px;
$FontSize17: 17px;
$FontSize18: 18px;
$FontSize19: 19px;
$FontSize20: 20px;
$FontSize21: 21px;
$FontSize22: 22px;
$FontSize23: 23px;
$FontSize24: 24px;
$FontSize25: 25px;
$FontSize26: 26px;
$FontSize27: 27px;
$FontSize28: 28px;
$FontSize29: 29px;
$FontSize30: 30px;

/* @media query width */

$desktop18: 1600px;
$desktophidpi: 1440px;
$desktopmdpi: 1280px;
$ipadlandscape: 1199px;
$ipadportrait: 1023px;
$mobilelandscape: 767px;
$mobileportrait: 567px;
