.customerreview-bg {
  position: relative;
  margin: 45px 0 50px 0;
  overflow: hidden;

  h3 {
    display: block;
    font-size: 130px;
    color: $white;
    font-weight: 900;
    margin: 0 0 50px 0;
    line-height: 1;

    @media (max-width: $desktophidpi) {
      font-size: 100px;
      margin: 0 0 25px 0;
    }

    @media (max-width: $ipadlandscape) {
      font-size: 80px;
    }

    @media (max-width: $ipadportrait) {
      font-size: 60px;
      padding: 0 30px;
    }

    @media (max-width: $mobileportrait) {
      font-size: 46px;
      font-weight: 900;
      margin: 0 0 20px 0;
    }

    span {
      @media (max-width: $mobileportrait) {
        display: none;
      }
    }
  }

  .slick-slider {
    position: relative;

    .review-boxs {
      background: $purpleA;
      margin-right: 20px;
      padding: 20px 25px;
      width: auto !important;
      border-radius: 10px;

      @media (max-width: $desktop18) {
        margin-right: 15px;
        padding: 25px;
        background: $purpleA;
      }
      @media (max-width: $mobileportrait) {
        border-radius: 10px;
      }

      .content {
        display: block;

        h4 {
          display: block;
          font-size: $FontSize30;
          color: #fff;
          font-weight: 900;
          margin: 0 0 10px;
          line-height: 1;
          @media (max-width: $mobileportrait) {
            font-size: $FontSize20;
          }
        }

        span {
          display: block;
          font-size: $FontSize18;
          font-weight: 700;
          color: $white;
          margin: 0;

          @media (max-width: $mobileportrait) {
            font-size: $FontSize18;
          }
        }
      }

      .star-list {
        display: flex;
        flex-wrap: wrap;
        padding-top: 0;

        @media (max-width: $desktop18) {
          padding-top: 50px;
        }
        @media (max-width: $mobileportrait) {
          padding-top: 0px;
        }
        .star {
          margin-left: 7px;

          @media (max-width: $desktop18) {
            margin-left: 5px;
            width: 15px;
          }

          img {
            max-width: 100%;
          }
        }
      }

      p {
        margin: 15px 0 50px 0;
        font-size: $FontSize25;
        color: $white;
        line-height: 30px;
        font-weight: 400;

        @media (max-width: $desktop18) {
          font-size: $FontSize18;
          margin: 20px 0 40px 0;
        }
        @media (max-width: $mobileportrait) {
          font-size: $FontSize16;
          margin: 15px 0 20px 0;
        }
      }

      span.date-text {
        font-size: $FontSize20;
        color: $white;
        font-weight: 700;
        width: 100%;
        display: block;

        @media (max-width: $desktop18) {
          font-size: $FontSize18;
        }
      }
    }

    .slick-arrow {
      position: absolute;
      left: auto;
      right: 0;
      top: -58px;
      width: 70px;
      height: 70px;

      @media (max-width: $desktop18) {
        width: 50px;
        height: 50px;
      }

      @media (max-width: $ipadportrait) {
        right: 30px;
      }

      &.slick-prev {
        left: auto;
        right: 90px;

        @media (max-width: $desktop18) {
          right: 70px;
        }

        @media (max-width: $ipadportrait) {
          right: 100px;
        }

        &:before {
          content: '';
          background-image: url(/slick-prev.svg);
        }
      }

      &.slick-next {
        &:before {
          content: '';
          background-image: url(/slick-next.svg);
        }
      }

      &:before {
        font-size: 45px;
        background-color: rgba($madang, 0.4);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: auto 50%;
        border-radius: 50%;
        width: 70px;
        height: 70px;
        display: block;

        @media (max-width: $desktop18) {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}
