.homepage-bg {
  display: block;
  position: relative;
}

.goodquiz-bg {
  display: block;
  // background: transparent
  //   linear-gradient(180deg, #01122c 0%, #1b0e41 46%, #01122c 100%) 0% 0%
  //   no-repeat padding-box;
  position: relative;

  .goodquiz-boxs {
    display: block;
    padding: 0px 0 43px 0;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;

    @media (max-width: $ipadportrait) {
      padding: 0 15px 10px;
    }

    .trails-text {
      position: relative;
      width: 100%;
      height: 160px;
      line-height: 80px;
      color: palevioletred;
      font-size: 5em;
      font-weight: 800;
      will-change: transform, opacity;
      overflow: hidden;
    }

    .trails-text > h1 {
      overflow: hidden;
    }

    h1 {
      font-size: 130px;
      color: $white;
      font-weight: 900;
      line-height: 1.2;
      margin: 0 0 15px 30px;

      @media (max-width: $desktop18) {
        font-size: 110px;
        line-height: 1.1;
      }

      @media (max-width: $desktopmdpi) {
        font-size: 90px;
      }

      @media (max-width: $ipadlandscape) {
        font-size: 70px;
        line-height: 1;
      }

      @media (max-width: $ipadportrait) {
        margin: 0 15px;
      }

      @media (max-width: $mobileportrait) {
        font-size: 44px;
        color: $bridalheath;
      }

      span {
        display: inline-block;
        padding-right: 15px;

        &:last-child {
          color: $lightgreen;
        }
      }
    }

    img {
      display: block;
      max-width: 100%;
      width: 100%;
      margin-top: -70px;

      @media (max-width: $ipadportrait) {
        margin-top: -60px;
      }

      @media (max-width: $mobileportrait) {
        margin-top: -40px;
      }

    }

    .goodquiz-bottom {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      padding-left: 30px;
      margin-top: -90px;
      position: relative;

      @media (max-width: $desktopmdpi) {
        margin-top: -60px;
      }

      @media (max-width: $ipadportrait) {
        padding: 0 15px;
      }

      .goodquiz-content {
        width: calc(100% - 280px);

        @media (max-width: $desktopmdpi) {
          width: calc(100% - 180px);
        }

        @media (max-width: $ipadlandscape) {
          width: calc(100% - 140px);
        }

        @media (max-width: $mobileportrait) {
          width: 100%;
        }

        h2 {
          display: block;
          font-size: 90px;
          color: $white;
          margin: 0;
          line-height: 1;
          font-weight: 900;

          @media (max-width: $desktop18) {
            font-size: 80px;
          }

          @media (max-width: $desktophidpi) {
            font-size: 70px;
          }

          @media (max-width: $ipadlandscape) {
            font-size: 50px;
          }
        }
      }

      .goodquiz-view {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 180px;
        margin: 0 50px 0;

        @media (max-width: $desktophidpi) {
          margin: 0 30px 0 auto;
        }

        @media (max-width: $desktopmdpi) {
          width: 100px;
        }

        @media (max-width: $ipadportrait) {
          margin: 0 0px 0 auto;
        }

        @media (max-width: $mobileportrait) {
          position: absolute;
          right: 0;
          top: 0;
          width: auto;
        }

        .buttonWrapper.round.large {
          @media (max-width: $desktopmdpi) {
            width: 100px;
            height: 100px;
          }

          @media (max-width: $mobileportrait) {
            width: 70px;
            height: 70px;
          }

          .buttonInner svg {
            @media (max-width: $desktopmdpi) {
              font-size: 40px;
            }

            @media (max-width: $mobileportrait) {
              font-size: 30px;
            }

          }
        }

        .eye-box {
          width: 180px;
          height: 180px;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          background-color: $madang;
          border-radius: 50%;

          @media (max-width: $desktopmdpi) {
            width: 100px;
            height: 100px;
          }

          img {
            margin: 0;
            width: 40%;
          }
        }
      }
    }

    p {
      font-size: $FontSize30;
      color: $linkwater;
      line-height: 1.2;
      margin-top: 15px;

      @media (max-width: $desktophidpi) {
        font-size: 28px;
      }

      @media (max-width: $ipadlandscape) {
        font-size: 24px;
        line-height: 1.1;
      }

      @media (max-width: $mobileportrait) {
        font-size: 16px;
        color: $linkwater;
        line-height: 1.4;
      }

      span {
        display: inline-block;
        padding-right: 10px;
      }
    }
  }
}
