.animationOverlay {
  z-index: 5;
  background: #000;
  pointer-events: none;
  will-change: transform;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;

  .transitionCover {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
  }
}

.c {
  position: absolute;
  max-width: 100%;
  height: 100%;
  cursor: pointer;
  will-change: transform, opacity;
}
.back {
  background-size: cover;
}

.front {
  background-size: cover;
  padding: 10px;
  overflow-y: hidden;
  width: 100%;
  background: #0e0e0e;
}

.helpsWith {
  position: relative;
  overflow: hidden;
  padding-bottom: 40px;
  background:#030417;


  &.shiftUp {
    margin-top: -50px;

    @media (max-width: $desktop18) {
      margin-top: -50px;
    }

    @media (max-width: $desktophidpi) {
      margin-top: -50px;
    }

    @media (max-width: $ipadlandscape) {
      margin-top: 0;
    }

    @media (max-width: $ipadportrait) {
      margin-top: 20px;
    }

    .helpHeading {
      // border-bottom: solid 2px rgba(255, 255, 255, 0.3);
      margin: 0 0 40px 0;
      // padding-bottom: 20px;

      @media (max-width: $desktophidpi) {
        margin: 0 0 20px 0;
      }

      @media (max-width: $ipadportrait) {
        padding: 0 30px;
      }

    }
  }
  &.noShift {
    .helpHeading {
      display: flex;
      margin: 10px 0 20px 0;
      position: relative;
      padding: 20px 0;
      align-items: center;
      //justify-content: space-between;
    }
  }

  .helpHeading {
    display: flex;
    align-items: center;

    .navIcons {
      display: flex;
      width: 140px;
      justify-content: space-between;
      padding-top: 6px;
      @media (max-width: $ipadportrait) {
        margin-left: auto;
      }

      @media (max-width: $mobileportrait) {
        width: auto;
      }

      .buttonWrapper {

        &.round.small {

          @media (max-width: $mobileportrait) {
            width: 40px;
            height: 40px;
          }

        }

        .buttonInner {
          padding: 0 10px;
        }

      }

      > div {
        transition: opacity 0.3s;
        &:hover {
          cursor: url('http://localhost:8000/point.svg'), auto !important;
        }
        &.disabled {
          opacity: 0.3;
          pointer-events: none;
        }

        @media (max-width: $mobileportrait) {
          margin: 0 0 0 5px;
        }

      }

      svg {
        font-size: 30px;
        color: var(--purpleC);
        cursor: pointer;
        transition: opacity 0.3s;

        @media (max-width: $mobileportrait) {
          height: 20px;
          width: 20px;
        }

        &:nth-child(1) {

          @media (max-width: $mobileportrait) {
            margin-right: 0;
          }

        }
        &.disabled {
          pointer-events: none;
          opacity: 0.3;
        }
      }
    }

    h3 {
      display: block;
      font-size: 50px;
      color: var(--offWhite);
      font-weight: 700;
      padding-right: 30px;

      @media (max-width: $ipadlandscape) {
        font-size: 50px;
      }

      @media (max-width: $mobileportrait) {
        font-size: 30px;
      }
      span {
        padding-right: 15px;
        display: inline-block;
      }
    }
  }

  .cardWrap {
    position: relative;
    height: 400px;

    @media (max-width: $ipadlandscape) {
      height: 360px;
    }

    @media (max-width: $ipadportrait) {
      height: 420px;
    }

    @media (max-width: $mobileportrait) {
      height: 140px;
    }

  }

  .gradient-overlay {
    position: absolute;
    height: 100%;
    bottom: 0px;
    width: 100%;
    background: linear-gradient(
      0deg,
      rgba(8, 10, 30, 0.9) 20%,
      rgba(8, 10, 30, 0) 90%
    );
  }

  .help-boxs {
    position: relative;
    padding: 0px;
    overflow: hidden;
    border-radius: 5px;
    position: absolute;
    will-change: transform, width, opacity;
    height: 350px;

    @media (max-width: $desktop18) {
      height: 320px;
    }

    @media (max-width: $desktophidpi) {
      height: 350px;
    }

    @media (max-width: $ipadlandscape) {
      height: 320px;
    }

    @media (max-width: $ipadportrait) {
      height: 320px;
    }

    @media (max-width: $mobileportrait) {
      height: 135px;
    }

    overflow:visible &:first-child {
    }

    img {
      width: 100%;
      display: block;
    }

    .help-content {
      position: absolute;
      left: 20px;
      right: 20px;
      bottom: 30px;

      @media (max-width: $mobileportrait) {
        left: 10px;
        right: 10px;
        bottom: 10px;
      }

      h2 {
        font-size: 80px;
        color: var(--offWhite);
        display: block;
        line-height: 1;
        margin: 0;
        font-weight: 900;

        @media (max-width: $desktop18) {
          font-size: 80px;
        }

        @media (max-width: $ipadlandscape) {
          font-size: 70px;
        }

        @media (max-width: $mobileportrait) {
          font-size: 33px;
        }
      }

      a.btn-link {
        color: var(--white);
        font-size: $FontSize30;
        font-weight: 300;
        line-height: 1;
        text-decoration: none;

        @media (max-width: $desktop18) {
          font-size: $FontSize28;
        }
        @media (max-width: $mobileportrait) {
          font-size: 16px;
        }
      }
    }
  }
}

@media(max-width:1024px){
  .scrollText {
    h2 {
      font-size:50px;
    }
  }
}
