.home-service {
  background: var(--purpleB);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 5px 0 0 5px;
  flex: 1;

  @media (max-width: $ipadportrait) {
    margin: 0 15px;
    background: none;
    border-radius: 0;
  }

  @media (max-width: $mobileportrait) {
    display: none;
  }
  .service-boxs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 35px 70px;
    border-bottom: var(--purpleBorder);
    border-left: var(--purpleBorder);
    justify-content: space-between;
    flex: 1;
    &:last-child {
      border-bottom: none;
    }

    @media (max-width: $desktop18) {
      padding: 25px 30px;
    }

    @media (max-width: $desktopmdpi) {
      padding: 15px 20px;
    }

    @media (max-width: $ipadportrait) {
      padding: 12px 0;
      border-left: 0;
    }

    svg {
      font-size: 35px;
      color: var(--white);

      @media (max-width: $desktop18) {
        height: 30px;
      }
    }

    p {
      padding: 0 0 0 30px;
      font-size: 30px;
      color: var(--white);
      line-height: 1;
      font-weight: 900;

      @media (max-width: $desktop18) {
        font-size: 28px;
      }

      @media (max-width: $desktopmdpi) {
        font-size: 22px;
      }

      @media (max-width: $ipadlandscape) {
        padding: 0 0 0 20px;
      }

      @media (max-width: $ipadportrait) {
        font-size: $FontSize18;
        padding: 0;
      }
    }
  }
}
