.magicweightex-main {
  display: block;
  text-align: center;

  .scrollText {
    position: relative;
    top: 0;
    left: 0;

    h2 {
      font-size: 160px;
      font-weight: 700;
      color: $lightgreen;
      white-space: nowrap;

      @media (max-width: $ipadlandscape) {
        font-size: 100px;
      }

    }
  }

  p {
    font-size: $FontSize30;
    color: $white;
    line-height: 1.2;
    margin: 0 0 70px;

    //   @media (max-width: $desktop18) {
    //     font-size: 80px;
    //   }
    //   @media (max-width: $mobileportrait) {
    //     font-size: 46px;
    //   }

    //   span {
    //     display: inline-block;
    //     padding-right: 15px;

    //     &:last-child {
    //       color: $madang;
    //     }
    //   }
    // }

    // p {
    //   font-size: 34px;
    //   color: $white;
    //   line-height: 1.2;
    //   margin: 0 0 70px;

    //   @media (max-width: $desktop18) {
    //     font-size: 28px;
    //     line-height: 1.5;
    //   }
    //   @media (max-width: $mobileportrait) {
    //     font-size: 16px;
    //   }
    //   span {
    //     display: inline-block;
    //     padding-right: 10px;
    //   }
    // }
  }
}