.secretContain {
  position: relative;
  border-top: solid 2px rgba($madang, 0.3);

  // &::before {
  //     content: '';
  //     position: absolute;
  //     left: 10%;
  //     right: 0%;
  //     bottom: 0;
  //     top: 0;
  //     background: url(/characterPose.png) right bottom -10px no-repeat;
  //     background-size: 100% auto;
  // }

  .img {
    display: block;

    img {
      max-width: 100%;
      display: block;
    }
  }
}
.secretingredient-boxs {
  display: block;
  padding: 130px 0 200px 0;

  @media (max-width: $desktop18) {
    padding: 100px 0px;
  }

  @media (max-width: $desktophidpi) {
    padding: 70px 0px;
  }

  @media (max-width: $ipadlandscape) {
    padding: 40px 0px;
  }

  @media (max-width: $ipadportrait) {
    padding: 30px;
  }

  h4 {
    font-size: 60px;
    color: $bridalheath;
    font-weight: 900;
    margin: 0 0 20px;

    @media (max-width: $desktop18) {
      font-size: 50px;
      line-height: 1;
    }
  }
  h2 {
    font-size: 60px;
    color: $bridalheath;
    font-weight: 900;
    margin-bottom: 15px;

    @media (max-width: $ipadlandscape) {
      font-size: 36px;
    }

    @media (max-width: $mobileportrait) {
      font-size: 30px;
    }

    span {
      display: inline-block;
      padding-right: 15px;
    }
  }

  p {
    font-size: $FontSize30;
    color: $white;
    line-height: 1.5em;
    margin: 0 0 35px;
    font-weight: 500;

    span {
      display: inline-block;
      padding-right: 5px;
    }

    @media (max-width: $desktop18) {
      font-size: 28px;
      line-height: $FontSize30;
    }

    @media (max-width: $ipadlandscape) {
      font-size: 20px;
    }
  }
}
.scrollText {
  position: relative;
  top: 0;
  left: 0;
  h2 {
    font-size: 160px;
    font-weight: 700;
    color: $lightgreen;
    white-space: nowrap;

    @media (max-width: $ipadlandscape) {
      font-size: 100px;
    }

    @media (max-width: $mobileportrait) {
      font-size: 50px;
    }

  }
}
