.secretContain{
    position: relative;
    &::before {
        content: '';
        position: absolute;
        left: 10%;
        right: 0%;
        bottom: 0;
        top: 0;
        background: url(/characterPose3.png) right bottom -10px no-repeat;
        background-size: 100% auto;
    }
}
.secretingredient-boxs {
    display: block;
    padding: 130px 0 200px 0;

    @media (max-width:$desktop18) {
        padding: 100px 0px;
    }

    @media (max-width:$ipadlandscape) {
        padding: 80px 0px;
    }

    h4 {
        font-size: 60px;
        color: $bridalheath;
        font-weight: 900;
        margin: 0 0 20px;

        @media (max-width:$desktop18) {
            font-size: 50px;
        }
    }
    h2{
        font-size: 60px;
        color: $bridalheath;
        font-weight: 900;
        margin-bottom:15px;
        span {
            display: inline-block;
            padding-right: 15px;
          }
    }
    

    p {
        font-size: $FontSize30;
        color: $white;
        line-height: 1.5em;
        margin: 0 0 35px;
        font-weight:500;

        span{
            display:inline-block;
            padding-right:5px;
        }

        @media (max-width:$desktop18) {
            font-size: 28px;
            line-height: $FontSize30;
        }
    }

}
.scrollText{
    position:relative;
    top:0;
    left:0;
    h2{
        font-size:160px;
        font-weight:700;
        color:$ligthgreen;
        white-space: nowrap;

        @media (max-width: $ipadlandscape) {
            font-size: 100px;
        }

    }
}
