.freedelivery-bg {
    // background: var(--purpleB);
    position: relative;
    padding: 65px 0 130px 0;
    @media (max-width:$desktop18) {
        padding: 65px 0 90px 0;
    }
    @media (max-width:$desktopmdpi) {
        padding: 50px 0;
    }
    @media (max-width:$mobilelandscape) {
        overflow-x:hidden;
    }
    h2 {
        display: block;
        font-size: 130px;
        color: var(--white);
        margin: 0 0 30px 0;
        line-height: 1;
        font-weight: 900;

        @media (max-width:$desktop18) {
            font-size: 100px;
        }

        @media (max-width:$desktopmdpi) {
            font-size: 70px;
        }

        @media (max-width:$mobileportrait) {
            font-size: 40px;
            margin: 0 0 20px 0;
        }

    }
    p {
        display: block;
        margin: 0 3em;
        font-size: $FontSize30;
        color: var(--white);
        line-height:37px;

        @media (max-width:$desktop18) {
            font-size: 28px;
            line-height: 32px;
            margin: 0 1em;
        }

        @media (max-width:$desktopmdpi) {
            font-size: 24px;
            line-height: 30px;
        }

        @media (max-width:$mobileportrait) {
            font-size: 20px;
            line-height: 26px;
        }

    }
}
