.helpslider-bg {
    position: relative;
    overflow: hidden;
    padding-bottom: 80px;

    @media (max-width:$ipadlandscape) {
        padding-bottom: 40px;
    }

    .container-fluid {
        padding-right:0;

        @media (max-width:$ipadlandscape) {
            padding-left: 0;
        }

    }

    h3 {
        display: block;
        font-size: 45px;
        color: var(--white);
        font-weight: 700;
        margin: 0 0 40px 0;
    }

    .slick-slider {
        position: relative;

        .gradient-overlay{
            position: absolute;
            width: calc(100% - 20px);
            height: 100%;
            bottom: 0px;
            background: linear-gradient(0deg,
            rgba(1, 18, 43, 0.7) 0%, rgba(0,41,50,0) 70%);
        }

        .help-boxs {
            position: relative;
            padding: 0 10px;
            overflow:hidden;
            border-radius:5px;

            @media (max-width:$mobileportrait) {
                padding: 0;
            }

            img {
                width: 100%;
                display: block;
            }

            .help-content {
                position: absolute;
                left: 30px;
                right: 30px;
                bottom: 20px;

                @media (max-width:$mobileportrait) {
                    left: 10px;
                    right: 10px;
                    bottom: 10px;
                }

                h2 {
                    font-size: 140px;
                    color: var(--white);
                    display: block;
                    line-height: 1;
                    margin: 0;
                    font-weight: 900;

                    @media (max-width:$desktop18) {
                        font-size: 90px
                    }

                    @media (max-width:$desktopmdpi) {
                        font-size: 60px
                    }

                    @media (max-width:$ipadportrait) {
                        font-size: 40px;
                    }

                    @media (max-width:$mobileportrait) {
                        font-size: 30px;
                    }

                }

                a.btn-link {
                    color: var(--white);
                    font-size: $FontSize30;
                    font-weight: 300;
                    line-height: 1;
                    text-decoration: none;

                    @media (max-width:$desktop18) {
                        font-size: $FontSize28;
                    }

                    @media (max-width:$desktopmdpi) {
                        font-size: $FontSize24;
                    }

                    @media (max-width:$ipadportrait) {
                        font-size: 20px;
                    }

                    @media (max-width:$mobileportrait) {
                        font-size: 16px;
                    }

                }

            }

        }

        .slick-arrow {
            position: absolute;
            left: 28%;
            right: auto;
            top: -58px;
            width: 60px;
            height: 60px;

            @media (max-width:$desktop18) {
                left: 40%;
                width: 50px;
                height: 50px;
                top: -51px;
            }

            @media (max-width:$ipadlandscape) {
                left: auto;
                right: 0;
            }

            @media (max-width:$ipadportrait) {
                width: 40px;
                height: 40px;
                top: -40px;
            }

            @media (max-width:$mobileportrait) {
                width: 20px;
                height: 20px;
                top: -32px;
            }

            &.slick-prev {
                left: 24%;
                right: auto;

                @media (max-width:$desktop18) {
                    left: 35%;
                }

                @media (max-width:$ipadlandscape) {
                    left: auto;
                    right: 60px;
                }

                @media (max-width:$ipadportrait) {
                    right: 50px;
                }

                @media (max-width:$mobileportrait) {
                    right: 30px;
                }

                &:before {
                    content: '';
                    background-image: url(/slick-prev.svg);
                }

            }

            &.slick-next {

                &:before {
                    content: '';
                    background-image: url(/slick-next.svg);
                }

            }

            &:before {
                font-size: 45px;
                background-color: rgba(129, 213, 244, 0.4);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: auto 50%;
                border-radius: 50%;
                width: 60px;
                height: 60px;
                display: block;

                @media (max-width:$desktop18) {
                    width: 50px;
                    height: 50px;
                }

                @media (max-width:$ipadportrait) {
                    width: 40px;
                    height: 40px;
                }

                @media (max-width:$mobileportrait) {
                    width: 20px;
                    height: 20px;
                }

            }

        }

    }

}
