.product-name {
    display: flex;
    flex-wrap: wrap;
    border-bottom: $purpleborder;
    padding: 20px 0;
    position: relative;
    z-index: 2;

    h3 {
        margin: 0px;
        font-size: 130px;
        color: $white;
        font-weight: 900;
        width: 80%;
        line-height: 1;
        margin-bottom:0.2em;

        @media (max-width: $desktop18) {
            font-size: 100px;
        }

        span {
            display:inline-block;
            padding-right:15px;
        }
    }

    p {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        font-size: $FontSize25;
        color: $white;
        font-weight: 500;
        padding: 0 20px 0 0;

        img {
            margin-left:20px;
        }

    }

}
