.product-service {
    display: flex;
    flex-wrap: wrap;
    border-bottom: $purpleborder;
    padding: 0px 0;


    .service-boxs {
        width: 33.333%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 20px;
        align-content: center;
        justify-content: space-between;
        border-left: $purpleborder;
        background: $purpleA;

        &:first-child {
            border: none !important
        }

        img {
            height: 50px;
            max-width: 100%;
        }

        p {
            margin: 0 0 0 20px;
            font-size: $FontSize24;
            color: $white;
            font-weight: 700;
        }
        svg {
            font-size: 35px;
            color:$white;
      
            @media (max-width: $desktop18) {
              height: 30px;
            }
        }
    }

}