.product-service {
    display: flex;
    flex-wrap: wrap;
    border-bottom: var(--purpleBorder);
    padding: 0px 0;

    @media (max-width:$ipadportrait) {
        display: none;
    }

    .service-boxs {
        width: 33.333%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 20px;
        align-content: center;
        justify-content: space-between;
        border-left: var(--purpleBorder);
        // background: var(--purpleA);

        @media (max-width:$ipadlandscape) {
            padding: 10px;
        }

        &:first-child {
            border: none !important
        }

        img {
            height: 50px;
            max-width: 100%;
        }

        p {
            margin: 0 0 0 20px;
            font-size: $FontSize24;
            color: var(--white);
            font-weight: 700;

            @media (max-width:$ipadlandscape) {
                font-size: 15px;
            }

        }
        svg {
            font-size: 35px;
            color:var(--white);

            @media (max-width: $desktop18) {
              height: 30px;
            }

            @media (max-width:$ipadlandscape) {
                height: 22px;
            }

        }
    }

}

.product-images {
    display: none;

    @media (max-width:$ipadportrait) {
        display: block;
    }

    img {
        max-width: 100%;
        width: 100%;
        display: block;
    }
}