.product-review {
    display: block;
    height: 100%;
    position: relative;
    padding: 10px;
    background: url(/review-bg.png) center center no-repeat;
    background-size: cover;
    //border-left: var(--purpleBorder);
    //border-bottom: var(--purpleBorder);
    z-index: 2;

    @media (max-width:$mobileportrait) {
        padding: 0 10px;
        background: none;
        border: 0;
    }

    .review-totals {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 20px 0 35px 0;

        @media (max-width:$desktop18) {
            margin: 10px 0 20px 0;
        }

        @media (max-width:$mobileportrait) {
            margin: 0;
        }

        .star-list {
            display: flex;
            flex-wrap: wrap;

            .star {
                display: block;
                margin-right: 9px;

                @media (max-width:$ipadlandscape) {
                    width: 18px;
                    margin-right: 5px;
                }

                img {
                    display: block;
                    max-width: 100%;
                }

            }

        }

        span {
            font-size: $FontSize24;
            font-weight: bold;
            color: var(--white);
            line-height: 1;

            @media (max-width:$ipadlandscape) {
                font-size: 20px;
            }

        }
    }

    .review-boxs {
        background: var(--purpleB);
        border-radius: 10px;
        padding: 15px;

        .content {
            display: block;

            h4 {
                display: block;
                font-size: $FontSize24;
                color: #fff;
                font-weight: 900;
                margin: 0 0 10px;
                line-height: 1;

                @media (max-width:$ipadlandscape) {
                    font-size: $FontSize24;
                }

            }

            span {
                display: block;
                font-size: $FontSize20;
                font-weight: 700;
                color: var(--white);
                margin: 0;

                @media (max-width:$ipadlandscape) {
                    font-size: $FontSize20;
                    line-height: 1;
                }

            }

        }

        .star-list {
            display: flex;
            flex-wrap: wrap;
            .star {
                margin-left:10px;
            }
        }

        p {
            margin: 20px 0 0 0;
            font-family: $tksofiapro;
            font-size: $FontSize20;
            color: var(--white);
            line-height: 25px;
            font-weight: 500;

            @media (max-width:$desktop18) {
                font-size: $FontSize18;
                margin: 15px 0 0 0;
            }

            @media (max-width:$ipadlandscape) {
                font-size: $FontSize16;
                line-height: 1.5;
            }

        }

    }

    .slick-slider {

        @media (max-width:$mobileportrait) {
            display: none;
        }

    }

    .slick-arrow {
        position: absolute;
        right: 0;
        top: -50px;
        width: 50px;
        height: 50px;

        @media (max-width:$desktop18) {
            top: -30px;
            width: 40px;
            height: 40px;
        }

        &.slick-prev {
            left: auto;
            right: 70px;

            @media (max-width:$desktop18) {
                right: 50px;
            }

            &:before {
                content: '';
                background-image: url(/slick-prev.svg);
            }

        }

        &.slick-next {

            &:before {
                content: '';
                background-image: url(/slick-next.svg);
            }

        }

        &:before {
            font-size: 45px;
            background-color:rgba(var(--portage), 0.4);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: auto 50%;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            display: block;

            @media (max-width:$desktop18) {
                width: 40px;
                height: 40px;
                font-size: 35px;
            }

        }

    }

}
