.product-variation {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    z-index: 2;
    padding: 0 15px 0 0;

    @media (max-width:$ipadportrait) {
        padding: 0 15px;
    }

    .blanket-boxs {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 15px;

        .size-boxs {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            h4 {
                display: block;
                font-size: $FontSize30;
                color: $lightgreen;
                line-height: 1;
                margin: 0;
                font-weight: 700;

                @media (max-width:$desktop18) {
                    font-size: $FontSize22;
                }

            }

            p {
                font-size: $FontSize28;
                color: $white;
                line-height: 1;
                margin: 0;
                font-weight: 700;

                @media (max-width:$desktop18) {
                    font-size: $FontSize20;
                }

                @media (max-width:$mobileportrait) {
                    font-size: 16px;
                }

            }

        }

        .radio-group {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            position: relative;
            margin:10px 0 0 0;
            min-height: 170px;

            .radio-boxs {
                display: block;
                margin: 0 10px 0 0;

                &:nth-child(2) input {
                    left: 70px;
                }

                &:nth-child(3) input {
                    left: 140px;
                }

                &:nth-child(4) input {
                    left: 210px;
                }

                input {
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: 1;
                    width: 60px;
                    height: 60px;
                    opacity: 0;
                    display:none;

                    &:checked {

                        + label {

                            .title {
                                color: $madang;
                                height: 70px;
                                padding-bottom: 10px;
                            }
                            span{display:block !important}

                            .content {
                                display: block;
                            }
                        }

                    }

                    + label {
                        width: 100%;
                        margin: 0;
                        cursor:url('/point.svg'),auto;

                        .title {
                            height: 60px;
                            background: $bluezodiac;
                            display: flex;
                            flex-wrap: wrap;
                            align-content: center;
                            justify-content: center;
                            font-size: $FontSize30;
                            color: rgba($white, 0.54);
                            font-weight: 700;
                            padding:0 20px;
                            span{display:none}
                        }

                        .content {
                            position: absolute;
                            left: 0;
                            top: 70px;
                            background: $bluezodiac;
                            width: 100%;
                            padding: 15px;
                            display: none;

                            h4 {
                                display: block;
                                font-size: $FontSize22;
                                color: $white;
                                font-weight: 300;
                                margin: 0 0 5px;

                                @media (max-width:$desktop18) {
                                    font-size: $FontSize18;
                                }

                            }

                            span {
                                display: block;
                                font-size: $FontSize24;
                                color: $white;
                                margin: 0px;
                                font-weight: 700;

                                @media (max-width:$desktop18) {
                                    font-size: $FontSize22;
                                }

                            }

                        }

                    }

                }
            }

        }

        .dropdown {
            width: 100%;
            margin: 0;

            .dropdown-toggle {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                align-items: center;

                &.btn-secondary {
                    border: 0;
                    border-radius: 10px;
                    background: $purpleA;
                    padding: 0;
                    text-align: left;

                    &:focus {
                        box-shadow: none;
                    }

                    &:after {
                        content: '';
                        position: absolute;
                        right: 0px;
                        top: 0;
                        bottom: 0;
                        background: $purpleB url(/arrow-down.svg) center center no-repeat;
                        background-size: 20px auto;
                        border: 0;
                        width: 80px;
                        border-radius: 0px 10px 10px 0;

                        @media (max-width:$desktop18) {
                            margin: 0px;
                            width: 40px;
                        }

                        @media (max-width:$mobileportrait) {
                            width: 30px;
                        }

                    }

                }

                img {
                    width: 172px;
                    height: auto;
                    margin-right: 80px;

                    @media (max-width:$desktop18) {
                        width: 100px;
                        margin-right: 40px;
                    }

                    @media (max-width:$mobileportrait) {
                        width: 70px;
                        margin-right: 30px;
                    }

                }

                .content {
                    width: calc(100% - 252px);
                    padding-left: 20px;

                    @media (max-width:$desktop18) {
                        width: calc(100% - 140px);
                    }

                    @media (max-width:$mobileportrait) {
                        padding-left: 10px;
                        width: calc(100% - 100px);
                    }

                    h2 {
                        display: block;
                        font-size: $FontSize30;
                        color: $lightgreen;
                        line-height: 1;
                        margin: 0;
                        font-weight: 900;

                        @media (max-width:$desktop18) {
                            font-size: $FontSize26;
                        }

                        @media (max-width:$mobileportrait) {
                            font-size: 20px;
                        }

                    }

                    h3 {
                        display: block;
                        font-size: $FontSize30;
                        color: $white;
                        margin: 0;
                        font-weight: 900;

                        @media (max-width:$desktop18) {
                            font-size: $FontSize24;
                        }

                        @media (max-width:$mobileportrait) {
                            font-size: 16px;
                        }

                    }
                    p {
                        font-size: $FontSize22;
                        color: $white;
                        line-height: 1;
                        margin: 0;
                        font-weight: 300;

                        @media (max-width:$desktop18) {
                            font-size: $FontSize16;
                        }

                        @media (max-width:$mobileportrait) {
                            font-size: 12px;
                        }

                    }

                }

            }

            .dropdown-menu {
                width: 100%;
                margin: 0;
                border-radius: 0;
                background: $purpleA;
                border: 0;
                padding: 0;

                .dropdown-item {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    padding: 15px;

                    @media (max-width:$mobileportrait) {
                        padding: 10px;
                    }

                    &:hover {
                        background: rgba($white, 0.3);
                    }

                    img {
                        width: 170px;
                        height: auto;

                        @media (max-width:$desktop18) {
                            width: 70px;
                        }

                        @media (max-width:$mobileportrait) {
                            width: 50px;
                        }

                    }

                    .content {
                        width: calc(100% - 190px);

                        @media (max-width:$desktop18) {
                            width: calc(100% - 80px);
                        }

                        @media (max-width:$mobileportrait) {
                            width: calc(100% - 60px);
                        }

                        h3 {
                            display: block;
                            font-size: $FontSize30;
                            color: $white;
                            margin: 0;
                            font-weight: 900;

                            @media (max-width:$desktop18) {
                                font-size: $FontSize26;
                            }

                            @media (max-width:$mobileportrait) {
                                font-size: 16px;
                            }
                        }
                        p {
                            font-size: $FontSize22;
                            color: $white;
                            line-height: 1;
                            margin: 0;
                            font-weight: 300;

                            @media (max-width:$desktop18) {
                                font-size: $FontSize18;
                            }

                            @media (max-width:$mobileportrait) {
                                font-size: 14px;
                            }

                        }

                    }

                }

            }

        }

    }

    .weight-boxs {
        display: flex;
        flex-wrap: wrap;
        background-color: $purpleA;
        border-radius: 10px;
        margin: 0 0 10px;
        width: 100%;

        .left {
            width: calc(100% - 220px);
            padding: 15px 0 15px 20px;

            @media (max-width:$desktop18) {
                width: calc(100% - 140px);
            }

            @media (max-width:$mobileportrait) {
                padding: 10px 0 10px 10px;
                width: calc(100% - 100px);
            }

            h3 {
                display: block;
                margin: 0 0 35px;
                font-size: $FontSize30;
                color: $lightgreen;
                line-height: 1;
                font-weight: 900;

                @media (max-width:$desktop18) {
                    font-size: $FontSize26;
                    margin: 0 0 15px;
                }

                @media (max-width:$mobileportrait) {
                    font-size: $FontSize18;
                }

            }

            h4 {
                display: block;
                font-size: $FontSize24;
                color: $white;
                margin: 0 0 15px;
                line-height: 30px;
                font-weight: 500;

                @media (max-width:$desktop18) {
                    font-size: $FontSize18;
                    margin: 0 0 10px;
                    line-height: 1.2;
                }

                @media (max-width:$mobileportrait) {
                    font-size: 14px;
                }

            }

            h2 {
                display: block;
                font-size: $FontSize30;
                color: $white;
                margin: 0;
                font-weight: 900;

                @media (max-width:$desktop18) {
                    font-size: $FontSize21;
                    line-height: 1;
                }

                @media (max-width:$mobileportrait) {
                    font-size: 16px;
                }

            }

        }

        .right {
            width: 220px;

            @media (max-width:$desktop18) {
                width: 140px;
            }

            @media (max-width:$mobileportrait) {
                width: 100px;
            }

            .button {
                background-color: $purpleB;
                font-size: $FontSize24;
                color: #fff;
                width: 100%;
                padding: 21px 20px 21px 40px;
                display: flex;
                flex-wrap: wrap;
                font-weight: 300;

                @media (max-width:$desktop18) {
                    font-size: $FontSize20;
                    padding: 15px 20px;
                }

                @media (max-width:$mobileportrait) {
                    font-size: 14px;
                    padding: 10px 10px;
                }

                &.up {
                    border-radius: 0px 10px 0 0;
                }

                &.down {
                    border-radius: 0 0 10px 0px;
                }

                img {
                    margin-left: auto;

                    @media (max-width:$desktop18) {
                        max-width: 20px;
                    }

                    @media (max-width:$mobileportrait) {
                        max-width: 15px;
                    }

                }

            }

            .active {
                display: block;
                text-align: center;
                font-size: 34px;
                color: $midnight;
                line-height: 1;
                background-color: $madang;
                padding: 23px 0;
                font-weight: 900;

                @media (max-width:$desktop18) {
                    font-size: 24px;
                    padding:15px 0;
                }

                @media (max-width:$mobileportrait) {
                    font-size: 18px;
                    padding: 10px 0;
                }

            }

        }

    }

    .price-main {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        h4 {
            display: block;
            width: 100%;
            font-size: $FontSize30;
            color: $white;
            margin: 0 0 10px;
            line-height: 1;

            @media (max-width:$desktop18) {
                font-size: $FontSize26;
            }

            @media (max-width:$mobileportrait) {
                font-size: 18px;
            }

            span {
                color: $lightgreen;
                font-weight: 900;
            }

        }

        .price-boxs {
            width: 100%;
            padding: 0px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            .price {
                display: block;
                font-size: 40px;
                color: $white;
                margin: 0;
                font-weight: 900;
                line-height: 1;

                @media (max-width:$desktop18) {
                    font-size: $FontSize30;
                }

                @media (max-width:$mobileportrait) {
                    font-size: $FontSize26;
                }

            }

            // p {
            //     display: block;
            //     font-size: $FontSize20;
            //     font-weight: 500;
            //     line-height: 1.1;
            //     color: $white;

            //     @media (max-width:$desktop18) {
            //         font-size: 16px;
            //     }

            // }

        }

        .btn.btn-success {
            width: auto;
            text-align: center;
            padding:  18px 90px 27px;
            font-size: 40px;
            font-weight:900;
            background:$madang;
            line-height:1;
            border-radius: 10px;
            margin-left: auto;
            box-shadow: 5px 5px 0 #B58DD6;

            @media (max-width:$desktop18) {
                font-size: $FontSize30;
                padding:  15px 40px;
            }

            @media (max-width:$mobileportrait) {
                font-size: 20px;
                padding:  10px 20px;
                box-shadow: 3px 3px 0 #B58DD6;
            }

        }

        .delivery-text {
            width: 100%;
            display: block;
            font-size: $FontSize20;
            color: $white;
            font-weight: 500;
            margin: 0px 0 10px 0;

            @media (max-width:$desktop18) {
                font-size: $FontSize17;
            }

            @media (max-width:$mobileportrait) {
                font-size: 14px;
                line-height: 1.2;
            }

        }

    }

}
