.AnswerBlock{
  display:flex;
  flex:1;
  background:$purpleB;
  align-items:center;
  padding-left:40px;
  cursor:pointer;
  margin-bottom:10px;
  border-radius: 10px;
  margin-right:10px;
  &:last-child{
    margin-bottom:0
  }
  &.active{
    background:$madang;
    color:$violet;

    &:hover{
      background:$madang;
      color:$violet;
    }
  }

  &:hover{
    background:#010813;
  }
  h5{
    font-weight: 900;
    line-height: 1em;
    font-size:5em;
    height: 1.3em;
    padding-right:30px;
    color:#F9BEBD;
  }
  p{
    font-size:2em;

  }
}
